<div class="section relative z-0 py-16 md:pt-32 pt-32 md:pb-20 bg-gray-50">
    <div class="container xl:max-w-6xl mx-auto px-4 text-center">
        <h2 class="text-3xl font-bold mb-5">Welcome to Super <span class="text-red-600">Voter.com</span></h2>
        <p>
        The ultimate platform for creating and voting on polls. Easily create custom polls on the topics you care about and engage with a community of like-minded individuals. Track results in real-time and drive change by making your voice heard. Join our community of engaged and informed citizens today.
        </p>
    </div>
</div>