{% comment %} 
<div class="section relative z-0 py-16 md:pt-32 md:pb-20 bg-gray-50">
    <div class="container xl:max-w-6xl mx-auto px-4 text-center">
        <h1 class="text-2xl font-bold mb-5">List of <span class="text-red-600">Creators</span> and their <span class="text-red-600">Polls</span></h1>
        
        <form>   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Polls, Creator" required>
                <button 
                    type="submit" 
                    class="text-white absolute right-2.5 bottom-2.5 bg-red-600 hover:bg-white hover:text-red-600 hover:transition focus:ring-4 focus:outline-none focus:ring-red-600 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
        </form>

    </div>

</div> {% endcomment %}

{% comment %} User Section {% endcomment %}
<div class="section relative z-0 py-16 md:pt-32 md:pb-20 bg-gray-50">
    <div class="container xl:max-w-6xl mx-auto text-center">

        <div class="grid lg:grid-cols-2 grid-cols-1 gap-2">
            {% for poll in polls %}
                <div class="flex flex-col bg-white shadow-lg rounded-lg overflow-hidden mb-10 ml-2 justify-start">

                    <div class="bg-gray-200 px-6 py-4">
                        <div class="flex items-center pt-3">
                            <div class="bg-red-600 w-12 h-12 flex justify-center items-center rounded-full uppercase font-bold text-white">{{poll.created_by.username|slice:":2"}}</div>
                            <div class="ml-4">
                                <p class="font-bold hover:underline decoration-2 hover:text-red-600 "><a href="{% url 'userProfile' poll.created_by.id %}">{{poll.created_by.username}}</a></p>
                                <p class="text-sm text-gray-700 mt-1">{{poll.created_by.account_type}}</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="bg-gray-200 text-gray-700 text-lg px-6 py-4 flex justify-start">
                        <a class="hover:underline decoration-2 hover:text-red-600" href="{% url 'getAPoll' poll.id %}">{{ poll.question }}</a>
                    </div>
            
                    <div class="px-6 py-4 border-t border-gray-200 flex justify-between">
                        <p class="font-bold">Options to vote</p>
                        <p>{{poll.choices.all.count }}</p>
                    </div>


                    <div class="px-6 py-4 border-t border-gray-200 flex justify-between">
                        <p class="font-bold">Poll Ends: </p>
                        <p>{{ poll.end_date|timeuntil }}</p>
                    </div>

                    <div class="px-6 py-4 border-t border-gray-200 flex justify-between">
                        <p>Votes:  <span class="font-bold">{{ poll.total_votes }} </span></p>
                        <p>Views:  <span class="font-bold">{{poll.views}} </span></p>
                        <p>Status: {% if poll.is_active %}  <span class="font-bold">Active </span>{% else %}  <span class="font-bold">Inactive </span>{% endif %}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>