{% extends 'base.html' %}


{% block content %}

	<main id='content'>
		{% comment %} List of Creators {% endcomment %}
		<div class="section relative z-0 py-16 md:pt-32 md:pb-20 bg-gray-50">
			<div class="container xl:max-w-7xl mx-auto px-4 text-center">
				<div class="flex justify-center px-6 my-12">
					<div class="w-full xl:w-3/4 lg:w-11/12 flex">
					
						<div
							class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg"
							style="background-image: url('https://source.unsplash.com/oWTW-jNGl9I/600x800')">
						</div>
					
						<div class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none">

							<div class="px-8 mb-4 text-center">
								<h3 class="pt-4 mb-2 text-2xl">Forgot Your Password?</h3>
								<p class="mb-4 text-sm text-gray-700">
									Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
								</p>
							</div>


							<form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" action="{% url 'userPasswordReset' %}" method="POST">
								{% csrf_token %}

								<div class="mb-4">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="{{ form.email.auto_id }}">
										Email
									</label>
									<input id="{{ form.email.auto_id }}" 
									class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" 
									type="email" 
									name="{{ form.email.name }}" 
									{% if form.email.value %}value="{{ form.email.value }}"{% endif %} 
									placeholder="Enter Email Address...">
								</div>



								<div class="mb-6 text-center">
									<button
										class="w-full px-4 py-2 font-bold text-white bg-red-500 rounded-full hover:bg-red-700 focus:outline-none focus:shadow-outline"
										type="submit">
										Reset Password
									</button>
								</div>
								
								<hr class="mb-6 border-t" />


								
								<div class="text-center">
									Don't have an account?
									<a class="inline-block text-sm text-blue-500 align-baseline  hover:underline decoration-2 hover:text-red-600"
										href="{% url 'userRegister' %}">
										Create one
									</a>
								</div>

								<div class="text-center">
									Already have an account? 
									<a class="inline-block text-sm text-blue-500 align-baseline  hover:underline decoration-2 hover:text-red-600"
										href="{% url 'userLogin' %}">
										Login</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


{% endblock %}

