{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Investores</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
       

        {% comment %} Main Content Section {% endcomment %}
        {% block content %}
        
        {% endblock content %}    
        {% comment %} End of Main Content Section {% endcomment %}


        
        <script src="{% static 'js/main.js' %}" async defer></script>
    </body>
</html>