{% extends "noNavbarBase.html" %}
{% load static %}




{% block content %}
  
  <main id='content' class="grid grid-cols-1">
  
      {% comment %} Button Go Back {% endcomment %}
      <div class="mt-5 item">
        <div class="w-full">
          <div class="flex py-4 px-16">
              <a href="{% url 'homePage' %}" class="flex gap-1">
                
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                  </svg>
                  <p class="m-auto text-xl font-semibold text-center text-gray-800">Back to Polls Lists</p>
              </a>
          </div>
      </div>


      {% comment %} Profile {% endcomment %}
      <div class="section relative z-0 py-16 md:pt-10 md:pb-20 bg-gray-50 item">
          <div class="container xl:max-w-6xl mx-auto px-4 text-center">

            <div class="p-8 bg-white shadow mt-4">
                <div class="grid grid-cols-1 md:grid-cols-3">

                  <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">

                      <div>
                          <p class="font-bold text-gray-700 text-xl">{{user.votes.count}}</p>
                          <p class="text-gray-400">Votes</p>
                      </div>
                      <div>
                          <p class="font-bold text-gray-700 text-xl">{{user.polls.count }}</p>
                          <p class="text-gray-400">Polls</p>
                      </div>

                      <div>
                        <p class="font-bold text-gray-700 text-xl">89</p>
                          <p class="text-gray-400">Followers</p>
                      </div>
                  </div>

                  <div class="relative">
                    <div class="w-48 h-48 bg-slate-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-red-500">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                      </svg>
                    </div>
                  </div>
              
                  <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
                    {% if request.user.is_authenticated %}
                   
                        {% if request.user == user %}
                        <a  href="{% url 'profileSettings' user.id %}"
                            class="text-white py-3 px-3 hover:underline decoration-2 rounded bg-red-600 hover:bg-white hover:text-red-600 cursor-pointer shadow hover:shadow-lg font-bold transition">Edit</a>
                            {% if user.account_type == 'creator' %}
                              <a  href="{% url 'createAPoll'%}"
                              class="text-white py-3 px-3 hover:underline decoration-2 rounded bg-red-600 hover:bg-white hover:text-red-600 cursor-pointer shadow hover:shadow-lg font-bold transition">Create A Poll</a>
                            {% endif %}
                        {% else %}
                        <a 
                        class="text-white py-3 px-3 hover:underline decoration-2 rounded bg-red-600 hover:bg-white hover:text-red-600 cursor-pointer shadow hover:shadow-lg font-bold transition">Contact</a>
                        <a 
                            class="text-white py-3 px-3 hover:underline decoration-2 rounded bg-red-600 hover:bg-white hover:text-red-600 cursor-pointer shadow hover:shadow-lg font-bold transition">Follow</a>

                        {% endif %}
                    {% endif  %}
                  </div>

                </div>
              
                <div class="mt-20 text-center border-b pb-12">
                  <h1 class="text-4xl font-medium text-gray-700">{{user.username}}</h1>
                  <h3 class="text-lg font-medium text-gray-700">({{user.account_type|capfirst }})</h3>
                  <p class="font-light text-gray-600 mt-3">{{ profile.address}}</p>
              
                  <p class="mt-8 text-gray-500">{{profile.bio }}</p>
                  <p class="mt-2 text-gray-500">{{profile.summary}}</p>
                </div>
              
                {% if polls.count > 0%}
                  <div class="mt-12 flex flex-col justify-center">
                    <div class="section relative z-0 py-16 md:pt-32 md:pb-20 bg-gray-50">
                      <div class="container xl:max-w-6xl mx-auto text-center">
              
                          <div class="grid grid-cols-1">
                              {% for poll in polls %}
                                  <div class="bg-white shadow-lg rounded-lg overflow-hidden mb-10 justify-start">
                      
                                      <div class="bg-gray-200 px-6 py-4">
                                          <div class="flex items-center pt-3">
                                              <div class="bg-red-600 w-12 h-12 flex justify-center items-center rounded-full uppercase font-bold text-white">{{poll.created_by.username|slice:":2"}}</div>
                                              <div class="ml-4">
                                                  <p class="font-bold hover:underline decoration-2 hover:text-red-600 "><a href="{% url 'userProfile' poll.created_by.id %}">{{poll.created_by.username}}</a></p>
                                                  <p class="text-sm text-gray-700 mt-1">{{poll.created_by.account_type}}</p>
                                              </div>
                                          </div>
                                      </div>
                              

                                    <div class="bg-gray-200 text-gray-700 text-lg px-6 py-4 flex justify-between">
                                          <a class="hover:underline decoration-2 hover:text-red-600" href="{% url 'getAPoll' poll.id %}">{{ poll.question }}</a>
                                      
                                      </div>  




                              
                                      <div class="px-6 py-4 border-t border-gray-200 flex justify-between">
                                          <div class="w-full">
                                              {% for choice in poll.choices.all %}
                                                  <div class="border rounded-lg bg-red-200 p-2 mb-1" style="width:{{ choice.vote_percentage }}%;">
                                                      <p class="flex justify-between gap-2">
                                                          <span style=" white-space: nowrap;">{{ choice.choice_text }}</span><span>{{ choice.vote_percentage }}%</span>
                                                      </p>
                                                  </div>
                                              {% endfor %}
                                          </div>
                                      </div>

                                      <div class="px-6 py-4 border-t border-gray-200 flex justify-between">
                                          <p class="font-bold">Poll Ends: </p>
                                          <p>{{ poll.end_date|timeuntil }}</p>
                                      </div>
                      
                                      <div class="px-6 py-4 border-t border-gray-200 flex justify-between">
                                          <p>Votes:  <span class="font-bold">{{poll.total_votes }}</span></p>
                                          <p>Views:  <span class="font-bold">{{poll.views}} </span></p>
                                          <p>Status: {% if poll.is_active %}  <span class="font-bold">Active </span>{% else %}  <span class="font-bold">Inactive </span>{% endif %}</p>
                                      </div>
                                  </div>
                              {% endfor %}
                          </div>
                      </div>
                    </div>
                  </div>
                {% endif %}

            </div>
        </div>
      </div>
  </main>


{% endblock content %}